.add-new-recipe
    .form-control
        margin-bottom: 10px
        width: 400px
    h1
        margin-bottom: 40px
    &_ingrid
        display: flex
        .form-control
            &:nth-child(1)
                width: 250px
                margin-right: 10px
            &:nth-child(2)
                width: 90px
    &_gram
        margin-top: 18px
        margin-left: 5px
    &_cross
        width: 30px
        height: 30px
        span
            display: block
            width: 20px
            height: 4px
            background-color: #000
            &:nth-child(1)
                transform: rotate(90deg) translate(4px, 0)
                
                
                